<h1>Student Data</h1>

<p>This component demonstrates fetching student data from the server.</p>

<p *ngIf="!stdList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-student']">Create New</a>
</p>

<table class='table' *ngIf="stdList">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of stdList">
            <td>{{ std.id }}</td>
            <td>{{ std.name }}</td>
            <td>{{ std.gender }}</td>
            <td>{{ std.department }}</td>
            <td>{{ std.city }}</td>
            <td>
            <td>
                <a [routerLink]="['/student/edit/', std.id]">Edit</a> |
                <a [routerLink]="" (click)="delete(std.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>